doctype html
head(lang="de")
    title Ayurvedische Ölungen (AMNANDA Therapie) - Tanz auf dem Vulkan La Palma
    meta(name="description" content="Informationen zu ayurvedischen Amnanda Ölungen")
    include includes/head
    link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css" rel="stylesheet")
body
    #header.headerAmnanda
        h1 Ayurvedische Ölungen
        p AMNANDA Therapie
    ul.tabs.primary-nav.homeNav
        li.tabs_item
            a.tabs_link(href="index.html") Home
    ul.tabs.primary-nav
        li.tabs_item
            a.tabs_link(href="workshopangebote.html") Workshopangebote
        li.tabs_item
            a.tabs_link(href="retreats-in-der-natur.html") Retreats in der Natur
        li.tabs_item
            a.tabs_link(href="systemische-aufstellungen.html") Systemische Aufstellungen
        li.tabs_item
            a.tabs_link.activeTab(href="ayurvedische-ölungen-amnanda-therapie.html") Ayurvedische Ölungen - AMNANDA Therapie
        li.tabs_item
            a.tabs_link(href="mediales-coaching-und-channeling.html") Mediales Coaching und Channeling
        li.tabs_item
            a.tabs_link(href="kunsttherapeutische-begleitung.html") Kunsttherapie<br>Einzelsessions und Gruppen
    #main
        .box.alt.container
            a.image(data-fancybox href="img/from-unsplash/alan-caishan-1207495-unsplash-cropped.jpg")
                img.fullWidth(src='img/from-unsplash/alan-caishan-1207495-unsplash-cropped.jpg')
            p.topPMargin
                | AMNANADA bedeutet in Sanskrit <b>Weg der Freude</b>
                | und ist eine mehr als 300 Jahre alte von Mönchen in Asien erarbeitete
                | Kur und Heilmethode, deren Ursprünge mehr als 2000 Jahre zurückliegen.
            p
                | In Asien wurde sie durch alle Jahrhunderte hindurch angewendet, allerdings
                | ausschließlich von Mönchen in Klöstern lebend.
                | <b>BABA RAMDAS SWAMI</b>, tibetischer Mönch und ayurvedischer Arzt, hat uns
                | diese Methode in Europa als kostbares Geschenk zugänglich gemacht.
            p
                | Die AMNANDA Kur, insgesamt 12 Ölungen, macht den Abbau von Stress mit all
                | seinen Auswirkungen auf Leib und Seele möglich.
                | Belastungen auf körperlicher, emotionaler und mentaler Ebene können sich
                | unterschiedlich auswirken, führen aber fast immer zu
                | vorzeitigen Alterungserscheinungen.
                | <br>Durch die Kur werden Stresserfahrungen, die wir im Laufe unseres Lebens
                | gemacht und als Gedächtnisspuren auf Zellebene gespeichert haben, aufgelöst.
                | <br>Blockaden durch alte Verletzungen und negative Lebenserfahrungen
                | fallen spürbar ab und Regeneration, Harmonisierung und Revitalisierung
                | unseres gesamten Systems werden möglich.
            #gallery
                a(data-fancybox href="img/from-unsplash/artem-beliaikin-belart84-1396056-unsplash.jpg")
                    img(src="img/from-unsplash/artem-beliaikin-belart84-1396056-unsplash.jpg")
            p.topPMargin
                | <b>Für wen ist die Kur geeignet ?
                | <br>Wenn Sie schwere Belastungen für Körper und Geist erlebt haben und nun
                | regenerieren möchten.</b>
            p
                | Wenn Sie sich in einer wichtigen Lebensphase wie Schwangerschaft, Kleinkindphase,
                | Doppelbelastungen oder Ausbildung und Aufbau von neuen beruflichen Zielen
                | belastbarer und gelassenener fühlen wollen.
                | <br><b>Wenn Sie dem vorzeitigen Alterungsprozess vorbeugen und möglichst lange
                | das Leben in Gesundheit genießen wollen.</b>
            p
                | Wenn Sie einfach nur entspannter und glücklicher  sein oder werden wollen, ist
                | die AMNANDA Kur ideal für Sie.
                | Der Prozess erstreckt sich über mehrere Monate, bei der das Öl sanft auf dem
                | ganzen Körper aufgetragen wird.
                | Ihr Körper entspannt sich und nimmt die Information der Kräuter und der
                | achtsamen Berührung auf.
                | <br>Dadurch lösen sich Blockaden, die sich durch die Speicherung schmerzlicher
                | Lebenserfahrungen gebildet haben.
                | Diese Transformation beginnt mit der 1. Behandlung.
                | <br>Der Prozess selbst ist sehr individuell und führt dazu, dass Sie dauerhaft
                | <b>GELASSENHEIT, MEHR ENERGIE UND LEBENSFREUDE entwickeln.</b>
            p
                | Begleitend trinken Sie täglich Grüntee und eine spezielle
                | ayurvedische Teemischung.
                | <br>Zweimal nehmen Sie zwischen zwei Behandlungen eine bindegewebsstärkende
                | Tinktur ein. Die Bestandteile der Tees und Tinkturen stammen aus kontrolliert
                | biologischem Anbau.
            p
                | Infos unter: <a href="https://www.amnanda.eu">www.amnanda.eu</a>

            #gallery2
                a(data-fancybox href="img/from-unsplash/chelsea-shapouri-1555571-unsplash.jpg")
                    img(src="img/from-unsplash/chelsea-shapouri-1555571-unsplash.jpg")

                a(data-fancybox href="img/from-unsplash/deniz-altindas-38128-unsplash.jpg")
                    img(src="img/from-unsplash/deniz-altindas-38128-unsplash.jpg")
    include includes/footer
include includes/footer-js
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery-amnanda.js")
