doctype html
head(lang="de")
    title Impressum - Tanz auf dem Vulkan La Palma
    meta(name="description" content="Impressum der Homepage Tanz auf dem Vulkan La Palma")
    include includes/head
body
    #header
        h1 Impressum
    ul.tabs.primary-nav.homeNav
        li.tabs_item
            a.tabs_link(href="index.html") Home
    ul.tabs.primary-nav
        li.tabs_item
            a.tabs_link(href="workshopangebote.html") Workshopangebote
        li.tabs_item
            a.tabs_link(href="retreats-in-der-natur.html") Retreats in der Natur
        li.tabs_item
            a.tabs_link(href="systemische-aufstellungen.html") Systemische Aufstellungen
        li.tabs_item
            a.tabs_link(href="ayurvedische-ölungen-amnanda-therapie.html") Ayurvedische Ölungen - AMNANDA Therapie
        li.tabs_item
            a.tabs_link(href="ayurvedische-ölungen-amnanda-therapie.html") Mediales Coaching und Channeling
        li.tabs_item
            a.tabs_link(href="kunsttherapeutische-begleitung.html") Kunsttherapie<br>Einzelsessions und Gruppen
    #main
        .box.alt.container
            p.
                <b>Tanz auf dem Vulkan La Palma</b>
            p.
                Ulrike Kuhlmann
                <br> Lomo del Tanque 4 
                <br>E- 38787 Las Tricias 
                <br>Isla La Palma
            p.
                Email: <a href="mailto:venusorakel@yahoo.de">venusorakel@yahoo.de</a>
                <br>WhatsApp: +34 638 792 926
            p.
                Inhaltlich Verantwortlicher gem. § 55 II RStV: Ulrike Kuhlmann
            p.
                Bildquellen: Ulrike Kuhlmann, Unsplash
            h2 Datenschutz
            p.
                <i>Zugriffsdaten, Server-Logfiles</i>
                <br>Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über
                jeden Zugriff auf die Webseite (so genannte Serverlogfiles).
                Zu den Zugriffsdaten gehören: Name der abgerufenen Webseite, Datei, Datum
                und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf,
                Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL
                (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.
                Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum
                Zweck des Betriebs, der Sicherheit und der Optimierung der Webseite.
                Der Anbieter behält sich jedoch vor, die Protokolldaten nachträglich zu
                überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht
                einer rechtswidrigen Nutzung besteht.
            p.
                <i>Kontaktaufnahme</i>
                <br>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular
                oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der
                Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.

    include includes/footer
include includes/footer-js
