doctype html
head(lang="de")
    title Mediales Coaching und Channeling - Tanz auf dem Vulkan La Palma
    meta(name="description" content="Coaching und Channeling auf medialer Ebene von Maresch Ulrike Kuhlmann")
    include includes/head
    link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css" rel="stylesheet")
body
    #header.headerChanneling
        h1 Coachings und Channelingsessions
        p Karmische Themen - aktuelle Lebensfragen beantworten
    ul.tabs.primary-nav.homeNav
        li.tabs_item
            a.tabs_link(href="index.html") Home
    ul.tabs.primary-nav
        li.tabs_item
            a.tabs_link(href="workshopangebote.html") Workshopangebote
        li.tabs_item
            a.tabs_link(href="retreats-in-der-natur.html") Retreats in der Natur
        li.tabs_item
            a.tabs_link(href="systemische-aufstellungen.html") Systemische Aufstellungen
        li.tabs_item
            a.tabs_link(href="ayurvedische-ölungen-amnanda-therapie.html") Ayurvedische Ölungen - AMNANDA Therapie
        li.tabs_item
            a.tabs_link.activeTab(href="ayurvedische-ölungen-amnanda-therapie.html") Mediales Coaching und Channeling
        li.tabs_item
            a.tabs_link(href="kunsttherapeutische-begleitung.html") Kunsttherapie<br>Einzelsessions und Gruppen
    #main
        .box.alt.container

            #gallery1
                a(data-fancybox="gallery1" href="img/channeling3.jpg")
                    img(src="img/channeling3.jpg")

            p.topPMargin.
                Seit langen Jahren channele ich verschiedene <b>Wesenheiten der geistigen Welt</b>.
                Ich nehme Kontakt zu Ahnen deines Familiensystems, deiner Seelenfamilie oder
                mit aufgestiegenen Meistern für dich auf.
            p.
                Dabei macht es keinen Unterschied, ob du persönlich oder per Phone mit
                mir in Kontakt trittst.
                <br>Wichtig ist <b>deine Bereitschaft</b>.
            p.
                Vielen Menschen hilft im <b>Klärungsprozess eines aktuellen Themas</b> die
                Hinwendung zum Ursprung, zur ursächlich relevanten Situation in der
                Inkarnation, in der das Thema entstanden ist.

            #gallery2
                a(data-fancybox="gallery2" href="img/channeling1.jpg")
                    img(src="img/channeling1.jpg")

                a(data-fancybox="gallery2" href="img/channeling2.jpg")
                    img(src="img/channeling2.jpg")

            h2 Wie kann dein Mind Clearing aussehen?
            ul.ulStyle
                li.
                    In der ersten Session beginnt der Weg zur <b>Lösungsfindung</b>.
                    <br>Es <b>folgen die Schritte:</b>
                li.liTopMargin.
                    bisher nicht Gefühltes anerkennen und zulassen
                    <br>das Verhalten als das erkennen, wozu es dir gedient hat
                    <br>den beteiligten Personen für „meine“ Taten und Gefühle vergeben
                li.liTopMargin.
                    Benennen des/der <b>Glaubenssätze</b>, die ich aus der früheren
                    Inkarnation mit in die darauf folgenden genommen habe
                li.liTopMargin.
                    Zuordnung in den aktuellen Zusammenhang meiner momentanen Lebenssituation,
                    <br>was bedeutet dies im <b>Kontext meines Familiensystems?</b>
                    <br><b>…in Bezug auf die erlernten Muster in diesem Leben?</b>
                li.liTopMargin.
                    Kreieren und Anwenden von <b>Lösungssätzen, Affirmationen, die die neuen
                    Schritte bestärken</b>
                li.liTopMargin.
                    Übungen zur effektiven <b>Verankerung der Gefühle, Energien und neuen positiven
                    Gedankenmuster</b>

    include includes/footer
include includes/footer-js
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery-channeling.js")
