doctype html
head(lang="de")
    title Retreats in der Natur - Tanz auf dem Vulkan La Palma
    include includes/head
body.is-preload
    #header.headerNaturRetreats
        h1 Retreats in der Natur
    ul.tabs.primary-nav.homeNav
        li.tabs_item
            a.tabs_link(href="index.html") Home
    ul.tabs.primary-nav
        li.tabs_item
            a.tabs_link(href="workshopangebote.html") Workshopangebote
        li.tabs_item
            a.tabs_link.activeTab(href="retreats-in-der-natur.html") Retreats in der Natur
        li.tabs_item
            a.tabs_link(href="systematische-aufstellungen.html") Systematische Aufstellungen
        li.tabs_item
            a.tabs_link(href="ayurvedische-ölungen-amnanda-therapie.html") Ayurvedische Ölungen - AMNANDA Therapie
        li.tabs_item
            a.tabs_link(href="kunsttherapeutische-begleitung.html") Individuelle kunsttherapeutische Begleitung
    #main
    include includes/footer
include includes/footer-js
