doctype html
head(lang="de")
    title Systemische Aufstellungen - Tanz auf dem Vulkan La Palma
    meta(name="description" content="Systemische Aufstellungen von Maresch Ulrike Kuhlmann")
    include includes/head
    link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet")
body
    #header.headerAufstellungen
        h1 Systemische Aufstellungen
        p Constelaciones familiares sistémicas
    ul.tabs.primary-nav.homeNav
        li.tabs_item
            a.tabs_link(href="index.html") Home
    ul.tabs.primary-nav
        li.tabs_item
            a.tabs_link(href="workshopangebote.html") Workshopangebote
        li.tabs_item
            a.tabs_link(href="retreats-in-der-natur.html") Retreats in der Natur
        li.tabs_item
            a.tabs_link.activeTab(href="systemische-aufstellungen.html") Systemische Aufstellungen
        li.tabs_item
            a.tabs_link(href="ayurvedische-ölungen-amnanda-therapie.html") Ayurvedische Ölungen - AMNANDA Therapie
        li.tabs_item
            a.tabs_link(href="kunsttherapeutische-begleitung.html") Individuelle kunsttherapeutische Begleitung
    #main
        .box.alt.container
            p
                | <b>Systemische Aufstellung</b>
                | <br>ist eine kreative Methode, die der Entwicklung von
                | Lösungen für persönliche Themen dient.
                | Die Themen können aus verschiedenen Lebensbereichen kommen,
                | wie Gesundheit, Vitalität, Kommunikation, Beziehungen, Beruf, Finanzen und andere.
            p
                | <b>Constelaciones familiares sistémicas</b>
                | <br>es un método creativo de encontrar soluciones a las problemas personales.
                | Los temas pueden provenir de cualquier área de su vida, tales como la salud,
                | la vocación, las relaciones, las finanzas y las habilidades personales.
            p.topPMargin
                | <b>Systemische Aufstellungen in der Gruppe</b>
                | eröffnen eine Art Bühne, auf der die Teilnehmer verschiedene Rollen übernehmen.
                | Dabei können neue Perspektiven und Blickwinkel auf das aktuelle Thema entstehen.
            p
                | <b>Las constelaciones familiares en grupo</b>
                | abren una especie de escenario, donde los participantes adoptan diferentes roles.
                | De esta manera aparecen nuevos puntos de vista y perspectivas diferentes.
        .box.alt.container
            h3 Maresh Ulrike kuhlmann
            section.feature.left
                a.image(data-fancybox href="img/aufstellung1.jpg")
                    img(src='img/aufstellung1.jpg')
                .content
                    ul.defaultList
                        li Kunst- und Ausdruckstherapeutin
                        li Body-Mind-Centering
                        li Craniosacrale Körperarbeit
                        li Traumatherapeutische Begleitung von Kindern und Jugendlichen
                        li Selbständige Ergotherapeutin seit 1996
            section.feature.right
                a.image(data-fancybox href="img/aufstellung2.jpg")
                    img(src='img/aufstellung2.jpg')
                .content
                    ul.defaultList
                        li Terapia del Arte
                        li Body-Mind-Centering
                        li Terapía de traumatico
                        li asesoramiento terapéutico para ninos y adolescentes
                        li Ergoterapéuta
            p.largeMarginTop
                | Aktuelle Termine für Workshops und Einzelaufstellungen bitte erfragen.
                | <br><br>Anmeldung - Info – Aviso bei Maresch
                | <br>Telefon: 0034 638 792 926
                | <br>Email: <a href="mailto:venusorakel@yahoo.de">venusorakel@yahoo.de</a>

    include includes/footer
include includes/footer-js
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
