doctype html
head(lang="de")
    title Workshopangebote - Tanz auf dem Vulkan La Palma
    meta(name="description" content="Workshopangebote von Maresch Ulrike Kuhlmann")
    include includes/head
    link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css" rel="stylesheet")
body
    #header.headerWorkshops
        h1 Workshopangebote
        p SPIRITS von LA PALMA - Göttinnenkräfte wecken
    ul.tabs.primary-nav.homeNav
        li.tabs_item
            a.tabs_link(href="index.html") Home
    ul.tabs.primary-nav
        li.tabs_item
            a.tabs_link.activeTab(href="workshopangebote.html") Workshopangebote
        li.tabs_item
            a.tabs_link(href="retreats-in-der-natur.html") Retreats in der Natur
        li.tabs_item
            a.tabs_link(href="systemische-aufstellungen.html") Systemische Aufstellungen
        li.tabs_item
            a.tabs_link(href="ayurvedische-ölungen-amnanda-therapie.html") Ayurvedische Ölungen - AMNANDA Therapie
        li.tabs_item
            a.tabs_link(href="mediales-coaching-und-channeling.html") Mediales Coaching und Channeling
        li.tabs_item
            a.tabs_link(href="kunsttherapeutische-begleitung.html") Kunsttherapie<br>Einzelsessions und Gruppen
    #main
        .box.alt.container
            p.
                Hier auf der westlichen Kanareninsel La Palma fühlst du dich
                <b>mit den Naturkräften</b> verbunden.
                <br>So erleben wir die Urkräfte, die diese Inseln geschaffen haben, in Form von:
            p.
                - feuriger vulkanischer Energie
                <br>- Erdenergie
                <br>- Wind und Luftenergien
                <br>- Wasserkraft des Atlantiks
            p.
                Als zertifizierte Ergotherapeutin, Kunst- und Ausdrucksherapeutin und
                Traumatherapeutin setze ich verschiedene Trancetechniken, Ausdruckstanz,
                Labyrintharbeit, kreative Techniken, sowie lösungsorientierte
                systemische Aufstellungen als Methoden ein.
            #gallery1
                a(data-fancybox="gallery1" href="img/workshop1.jpg")
                    img(src="img/workshop1.jpg")

                a(data-fancybox="gallery1" href="img/workshop2.jpg")
                    img(src="img/workshop2.jpg")
            h2 Kraftorte für Rituale und Retreats in die Natur finden sich vielerorts
            p.
                Die ursprüngliche wilde geologische Struktur La Palmas überrascht mit einer
                Vielfalt von Landschaften:
                <br>von der Vulkanlandschaft im Süden über Pinienwälder, die Caldera,
                der implodierte Krater eines Vulkans von 7 km Durchmesser bis zu
                felsigen Stränden an der Steilküste im Nordwesten der Insel.
            p.
                Wenn du dich für ein <b>RETREAT in Meeresnähe</b> entscheidest, kann ich dir
                Begleiterin und Unterstützerin auf schamanischen Wegen auf der Reise in
                die Unter- und Oberwelt sein.
            p.
                Eine weitere Möglichkeit ist der Weg der <b>Visionssuche</b>, ebenfalls
                schamanistischen Ursprungs.
                Sie hilft als Wegweiserin und Türöffner um andere Blickwinkel auf das
                Alte zu finden und eine eventuelle Kurskorrektur vorzunehmen.
            p.
                Dies sind immer Wege ins noch Unbekannte, Wege, die uns der
                <b>Inneren Quelle näher bringen können</b>.
                Wir begegnen unserer Inneren Helfern, zum Beispiel in Form von
                Krafttieren, die wir vorher
                auf einer Trommelreise erkundet haben und lernen von ihnen.
                Du lernst dabei neu zu sehen und deiner ureigenen Wahrnehmung zu vertrauen.
                Oft haben wir diese Fähigkeit häufig in unserer Anpassung an das
                „Normale“ verlernt oder vergessen.

            #gallery2
                a(data-fancybox="gallery2" href="img/workshop3.jpg")
                    img(src="img/workshop3.jpg")

                a(data-fancybox="gallery2" href="img/workshop7.png")
                    img(src="img/workshop7.png")
            h2.
                Diese Prozessarbeit erfordert deine Bereitschaft dich auf Erfahrungen mit
                inneren Kräften, Schattenseiten und neuen Perspektiven einzulassen.
            p.
                Die neu gewonnenen Erfahrungen bewirken ein Freiwerden von Lebensenergie.
                Alte Muster werden gespürt, losgelassen und durch Neue ersetzt.
            p.
                Im Winter und Frühling biete ich <b>themenbezogene Workshops</b> an:
            p.
                <b>Frauen in den Wechseljahren:
                <br>- Was bringe ich als Ernte dieser Lebensphase ein?
                <br>- Worin besteht mein Reichtum, meine Schätze
                <br>- Was dient mir nicht mehr?
                <br>- Und was nährt mich wirklich?
                <br>- Welche Saat möchte ich zum Wachsen bringen?</b>
            p.
                Wir feiern gemeinsam mit Mondritualen, im Kreis, Tanzen, Authentic Movement,
                Innenweltreisen, Massagen am Strand, Trancetechniken,
                Wanderungen und Ausflügen in die Natur.
                Wir trauen uns auf die Bühne des Lebens zu gehen und uns mit
                diesem Reichtum zu zeigen.
            h2 Entdecke die Aspekte der Göttinnen
            p.
                Wir erlangen versteckte, nicht gelebte Anteile unserer Weiblichkeit zurück.
                Dieser Prozess führt zur Selbstermächtigung.
            p.
                Dies tun wir mit Hilfe von Ritualen, der Beschäftigung mit der Mythologie,
                Orakelkarten und Trommelreisen, sowie systemischen Aufstellungen.
                Wir nutzen unser Körper-und Zellgedächtnis und verbinden uns mit lebendigen und
                uns erneuernden Symbolen.
                Wir laden die <b>Göttinnenkräfte</b> ein sich mit uns zu verbinden.
            p.
                Ich nutze Methoden aus der Tanz- und Ausdruckstherapie, Kunsttherapie,
                Bodywork und Gestaltarbeit.
            #gallery4
                a(data-fancybox="gallery4" href="img/workshop5.jpg")
                    img(src="img/workshop5.jpg")

                a(data-fancybox="gallery4" href="img/workshop4.jpg")
                    img(src="img/workshop4.jpg")
            h2.
                Was sind die Geschenke der Großen Göttin?
                <br>Wie kannst du sie integrieren und konkret für dich nutzen?
            p.
                Die Göttin <b>Demeter</b> ist bekannt als Gründerin des Ackerbaus und Schöpferin des
                Lebens schlechthin.
                Demeter bedeutet <b>“das Tor zum Geheimnis des Weiblichen”</b>.
                <br>Demeter leitet dich durch die Irrwege deiner Gefühle und lehrt
                dich sie zu würdigen.
            p.
                <b>Hekate</b> ist eine vorgriechische Göttin und ist Schutzpatronin der
                Hebammen und der Geburt.
            p.
                Sie wird auch als <b>Wächterin der Unterwelt</b> bezeichnet und sie
                erinnert uns daran, dass wir in jeder Situation neu wählen können und für
                diese Wahl verantwortlich sind.
            p.
                Die katzenköpfige Göttin <b>BAST</b>, im alten Ägypten verehrt, ruft uns zum Spiel,
                zu Neugier und <b>freudvoller Lust an Bewegung und Tanz auf</b>.
            p.
                Ich arbeite gern mit den Weiblichen Archetypen nach C.G.Jung und den
                Göttinnenqualitäten, innerpsychisch und im Kontext von Tanz- und Körperausdruck.

            #gallery5
                a(data-fancybox="gallery5" href="img/workshop6.jpg")
                    img(src="img/workshop6.jpg")

                a(data-fancybox="gallery5" href="img/workshop8.jpg")
                    img(src="img/workshop8.jpg")

            h2 Workshop: Kraft und Energie für neue Wege finden
            p.
                Ich lade dich ein mit deinem Thema in ein Retreat zu gehen.
            p.
                Gerne führe ich ein kostenloses Vorgespräch mit euch.

    include includes/footer
include includes/footer-js
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery-workshops.js")
