#footer
    .container.medium
        header.major.last
            | Für weitere Informationen kontaktieren Sie mich bitte!
        form(action='https://formspree.io/dbutemann@gmail.com' method="POST")
            .row
                .col-6.col-12-mobilep
                    input(name='name', placeholder='Name', type='text')
                .col-6.col-12-mobilep
                    input(name='email', placeholder='Email', type='email')
                .col-12.rowNoMobileTopPadding
                    textarea(name='message', placeholder='Message', rows='6')
                .col-12.rowNoMobileTopPadding
                    ul.actions.special
                        li
                            input(value='Send Message', type='submit')
        ul.icons
            li
                a.icon.brands.fab.fa-facebook-f(title='Facebook' href='#')
                    span.label Facebook
